
@{
    ViewBag.Title = "Resume";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Bootstrap, Landing page, Template, Registration, Landing">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="UIdeck">
    <title>JobX - Bootstrap HTML5 Job Portal Template</title>
    @Styles.Render("~/Content/css")
 
</head>

<body>

    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-header">
                        <h3>Resume</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->
    <!-- Start Content -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="right-sideabr">
                        <h4>Manage Account</h4>
                        <ul class="list-item">
                            <li>@Html.ActionLink("My Resume", "Resume", "Candidate", routeValues: null, htmlAttributes: new { @class = "active" })</li>
                            <li><a href="manage-applications.html">Manage Applications</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-xs-12">
                    <div class="inner-box my-resume">
                        <div class="author-resume">
                            <div class="thumb">
                                <img src="" id="myImage" alt="">
                            </div>
                            <div class="author-info"  style="position: relative;">
                               
                                    <h3 id="full_name"></h3>
                                    <p id="title" class="sub-title"></p>
                                    <p><span class="address d-none"><i class="lni-map-marker" id="address"></i></span> ,<span class="d-none" id="phone"><i class="ti-phone"></i></span></p>
                                    <div class="social-link">
                                        <a href="#" class="facebook d-none" target="_blank"><i class="lni-facebook-filled"></i></a>
                                        <a href="#" class="linkedin d-none" target="_blank"><i class="lni-linkedin-fill"></i></a>
                                        <a href="#" class="instagram d-none" target="_blank"><i class="lni-instagram-filled"></i></a>
                                    </div>
                                </div>
                                    <a href="@Url.Action("EditResume", "Candidate")" style="position: absolute; top: 15px; right: 40px;">
                                        <img src="@Url.Content("~/Content/img/editing.png")" alt="YourAltText"  height="30" class="mt-2" />
                                    </a>
                            </div>
                        <div class="about-me item">
                            <h3>About Me</h3>
                            <p id="about_me"></p>
                        </div>
                        <div class="project item d-none">
                            <h3>Project</h3>
                        </div>
                        <div class="work-experience item d-none">
                            <h3>Work Experience</h3>
                        </div>
                        <div class="education item d-none">
                            <h3>Education</h3>
                        </div>
                        <div class="skill item">
                            <h3>Skills</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Content -->
    <!-- Go To Top Link -->
    <a href="#" class="back-to-top">
        <i class="lni-arrow-up"></i>
    </a>

    <!-- Preloader -->
    <div id="preloader">
        <div class="loader" id="loader-1"></div>
    </div>
    <!-- End Preloader -->
    @section scripts {

        <script>
            $(document).ready(function () {

                $.ajax({
                    type: "GET",
                    url: "/api/Candidate/CandidateDetails",
                    success: function (response) {
                        $('#full_name').text(response.first_name + " " + response.surname)
                        $('#title').text(response.title)
                        $('.instagram').removeClass('d-none');

                        if (response.address != "") {
                            $('#address').text(response.address);
                            $('#address').parent().removeClass('d-none');
                        }
                        if (response.phone != "") {
                            $('#phone').text(response.phone);
                            $('#phone').removeClass('d-none');
                        }

                        $('#about_me').text(response.about_me);
                        if (response.facebook != "") {
                            $('.facebook').attr('href', response.facebook);
                            $('.facebook').removeClass('d-none');
                        }
                        if (response.linkedin != "") {
                            $('.linkedin').attr('href', response.linkedin);
                            $('.linkedin').removeClass('d-none');
                        }
                        if (response.instagram != "") {
                            $('.instagram').attr('href', response.instagram);
                            $('.instagram').removeClass('d-none');
                        }
                     

                        let skillid_data = JSON.parse(response.skillids);
                        skillid_data = skillid_data['id'];
                        skillid_data = skillid_data.map(str => parseInt(str));

                        $.ajax({
                            type: "GET",
                            url: "/api/Skills",
                            success: function (response) {
                                response.forEach(item => {
                                    if (skillid_data.includes(item.id)) {
                                        $('.skill').append(`<button class="btn mr-2 custom">${item.name}</button>`)
                                    }
                                });
                            }
                        });

                        let from = "";
                        let to = "";
                        if (response.education != "") {
                            $('.education').removeClass('d-none');
                            let education = JSON.parse(response.education);
                            for (let key in education) {
                                from = education[key][`from`].slice(0, 4);
                                to = education[key][`to`].slice(0, 4);

                                $('.education').append(`
                                            <h4>${education[key][`school`]}</h4>
                                            <p>${education[key][`degree`]}</p>
                                            <span class="date">${from}-${to}</span>
                                            <p>${education[key][`description`]}</p>
                                            <br>
                                                 `);
                            }

                        }
                        if (response.experience != "") {
                            $('.work-experience').removeClass('d-none');
                            let experience = JSON.parse(response.experience);
                            for (let key in experience) {
                                from = experience[key][`wfrom`].slice(0, 4);
                                to = experience[key][`wto`].slice(0, 4);
                                $('.work-experience').append(`
                                    <h4>${experience[key][`title`]}</h4>
                                    <h5>${experience[key][`company`]}</h5>
                                    <span class="exp-date"></span>
                                    <p>${experience[key][`wdescription`]}</p>
                                    <br>
                                         `);

                                to == "" ? $('.exp-date').text(`${from}` - present) : $('.exp-date').text(`${from}-${to}`);
                            }

                        }

                        if (response.project != "") {
                            $('.project').removeClass('d-none');
                            let project = JSON.parse(response.project);
                            for (let key in project) {
                                $('.project').append(`
                                   <div style="display: flex; align-items: center;">
                                        <h4>${project[key][`project`]}</h4>
                                    <a href=${project[key][`link`]} target="_blank">
                                        <img src="@Url.Content("~/Content/img/link.png")" alt="YourAltText"  height="20" class="mt-2" style="margin-left: 10px; margin-top:0rem!important; vertical-align:top!important;" />
                                    </a>
                                    </div>
                                    <p>${project[key][`pdescription`]}</p>
                                    <br>
                                         `);

                            }

                        }

                        let base64_string = "";
                        response.image != "" ? base64_string = response.image : '';
                        // Extract the MIME type from the base64 string
                        if (base64_string != "") {
                            extension = base64_string.split(';')[0].split('/')[1]
                            let byteCharacters = atob(base64_string);
                            let byteNumbers = new Array(byteCharacters.length);
                            for (let i = 0; i < byteCharacters.length; i++) {
                                byteNumbers[i] = byteCharacters.charCodeAt(i);
                            }
                            let byteArray = new Uint8Array(byteNumbers);
                            let blob = new Blob([byteArray], { type: 'image/' + extension }); // Adjust the image type accordingly

                            // Create a URL for the Blob
                            let blobUrl = URL.createObjectURL(blob);

                            // Set the image source to the Blob URL
                            let img = document.getElementById('myImage');
                            img.src = blobUrl;
                        }
                    }
                });
            });

        </script>
        <style>
            .custom{
                border-radius:25px;
                color:black;
            }
        </style>
    }
    </body>
</html>