@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = null;
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <!-- Content section Start -->
    <section id="content" class="section-padding">
        <div class="container">
            <div class="row justify-content-center message">
                <div class="col-lg-5 col-md-6 col-xs-12">
                    <div class="page-login-form box">
                        <h3>@ViewBag.Title</h3>
                        <div class="text-center alert alert-success">
                            <img src="@Url.Content("~/Content/img/tick.png")" alt="YourAltText" height="25" />Password Reset Link is sent to your Registered Email Address.Please check your email to reset your password.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Preloader -->
    <div id="preloader">
        <div class="loader" id="loader-1"></div>
    </div>
    <!-- End Preloader -->

    <style>
        html,
        body {
            height: 100%;
        }

        #content {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
    </style>
</body>
</html>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")