@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Bootstrap, Landing page, Template, Registration, Landing">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="UIdeck">
    <title>JobX - Bootstrap HTML5 Job Portal Template</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body>

    <header id="home" class="hero-area">

        <div class="container">
            <div class="row space-100 justify-content-center">
                <div class="col-lg-10 col-md-12 col-xs-12">
                    <div class="contents">
                        @if (User.IsInRole("Candidate"))
                        {
                            <h2 class="head-title">Find the job that fits your life</h2>
                            <p>Discover your next career move effortlessly with our job portal. Our user-friendly platform streamlines your search, ensuring you find the right fit with ease. Your dream job is just a click away – start your journey today.</p>
                            @Html.ActionLink("Browse Jobs", "Jobs", "Candidate", routeValues: null, htmlAttributes: new { @class = "btn btn-common" })
                        }
                        @if (User.IsInRole("Company"))
                        {
                           <h2 class="head-title">Post Jobs Effortlessly, Connect Instantly!</h2>
                           <p>Our user-friendly interface ensures a seamless process, allowing you to reach qualified candidates effortlessly. Join us in shaping your team's success – post a job today and unlock a world of possibilities.</p>
                            @Html.ActionLink("Post Job", "PostJob", "Company", routeValues: null, htmlAttributes: new { @class = "btn btn-common" })
                        }
                        @if (!Request.IsAuthenticated || User.IsInRole("Admin"))
                        {
                            <h2 class="head-title">The India's Work Marketplace</h2>
                            <p>Welcome to our comprehensive job portal, the nexus for companies and candidates. Streamline your hiring process or find your dream job effortlessly. Elevate your career or build your team with us. Welcome to success.                            </p>
                            @Html.ActionLink("Create Account", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-common" })
                        }
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
    <!-- Category Section Start -->
    <!-- <section class="category section bg-gray">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title">Browse Categories</h2>
                <p>Most popular categories of portal, sorted by popularity</p>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-xs-12 f-category">
                    <a href="browse-jobs.html">
                        <div class="icon bg-color-1">
                            <i class="lni-home"></i>
                        </div>
                        <h3>Finance</h3>
                        <p>(4286 jobs)</p>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12 f-category">
                    <a href="browse-jobs.html">
                        <div class="icon bg-color-2">
                            <i class="lni-world"></i>
                        </div>
                        <h3>Sale/Markting</h3>
                        <p>(2000 jobs)</p>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12 f-category">
                    <a href="browse-jobs.html">
                        <div class="icon bg-color-3">
                            <i class="lni-book"></i>
                        </div>
                        <h3>Education/Training</h3>
                        <p>(1450 jobs)</p>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12 f-category border-right-0">
                    <a href="browse-jobs.html">
                        <div class="icon bg-color-4">
                            <i class="lni-display"></i>
                        </div>
                        <h3>Technologies</h3>
                        <p>(5100 jobs)</p>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12 f-category border-bottom-0">
                    <a href="browse-jobs.html">
                        <div class="icon bg-color-5">
                            <i class="lni-brush"></i>
                        </div>
                        <h3>Art/Design</h3>
                        <p>(5079 jobs)</p>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12 f-category border-bottom-0">
                    <a href="browse-jobs.html">
                        <div class="icon bg-color-6">
                            <i class="lni-heart"></i>
                        </div>
                        <h3>Healthcare</h3>
                        <p>(3235 jobs)</p>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12 f-category border-bottom-0">
                    <a href="browse-jobs.html">
                        <div class="icon bg-color-7">
                            <i class="lni-funnel"></i>
                        </div>
                        <h3>Science</h3>
                        <p>(1800 jobs)</p>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12 f-category border-right-0 border-bottom-0">
                    <a href="browse-jobs.html">
                        <div class="icon bg-color-8">
                            <i class="lni-cup"></i>
                        </div>
                        <h3>Food Services</h3>
                        <p>(4286 jobs)</p>
                    </a>
                </div>
            </div>
        </div>
    </section> -->
    <!-- Category Section End -->
    <!-- Listings Section Start -->
    <!-- <section id="job-listings" class="section">
          <div class="container text-center wow  wow fadeInUp">
            <h1 class="section-title">You Using Free Lite Version :(</h1>
    <h6>Purchase Full Version to Get All Pages, Features, Docs and Support!</h6></br>
    <a href="https://rebrand.ly/jobx-gg" target="_blank" rel="nofollow" class="btn btn-common btn-lg"><span class="lni-pointer-right"></span> Purchase Now!</a>
          </div>
        </section> -->
    <!-- Listings Section End -->
    <!-- Browse jobs Section Start -->
    <div id="browse-jobs" class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="text-wrapper">
                        <div>
                         @if (User.IsInRole("Candidate") || User.IsInRole("Admin") || !Request.IsAuthenticated)
                         {
                            <h3>Browse Jobs</h3>
                            <p>Search all the open positions on the web. Get your own personalized salary estimate. The right job is out there.</p>
                            @Html.ActionLink("Search jobs", "Jobs", "Candidate", routeValues: null, htmlAttributes: new { @class = "btn btn-common" })
                         }
                         @if (User.IsInRole("Company"))
                         {
                            <h3>Manage Jobs</h3>
                            <p>Simplify your hiring process with our easy-to-use job management tools. Post, edit, and track listings effortlessly, monitor candidate applications, and gain valuable insights—all in one streamlined platform</p>
                            @Html.ActionLink("Manage jobs", "ManageJobs", "Company", routeValues: null, htmlAttributes: new { @class = "btn btn-common" })
                         }
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="img-thumb">
                        <img class="img-fluid" src="@Url.Content("~/Content/img/search.png")" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Browse jobs Section End -->



    <!-- Counter Section Start -->
    <section id="counter" class="section bg-gray">
        <div class="container">
            <div class="row">
                <!-- Start counter -->
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="counter-box">
                        <div class="icon"><i class="lni-home"></i></div>
                        <div class="fact-count">
                            <h3><span id="jobs"></span></h3>
                            <p>Jobs Posted</p>
                        </div>
                    </div>
                </div>
                <!-- End counter -->
                <!-- Start counter -->
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="counter-box">
                        <div class="icon"><i class="lni-briefcase"></i></div>
                        <div class="fact-count">
                            <h3><span id="companies"></span></h3>
                            <p>All Companies</p>
                        </div>
                    </div>
                </div>
                <!-- End counter -->
                <!-- Start counter -->
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="counter-box">
                        <div class="icon"><i class="lni-pencil-alt"></i></div>
                        <div class="fact-count">
                            <h3><span id="resumes"></span></h3>
                            <p>Resumes</p>
                        </div>
                    </div>
                </div>
                <!-- End counter -->
                <!-- Start counter -->
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="counter-box">
                        <div class="icon"><i class="lni-save"></i></div>
                        <div class="fact-count">
                            <h3><span id="applications"></span></h3>
                            <p>Applications</p>
                        </div>
                    </div>
                </div>
                <!-- End counter -->
            </div>
        </div>
    </section>
    <!-- Counter Section End -->
    <!-- How It Work Section Start -->
    <section class="how-it-works section">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title">How It Works?</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="work-process">
                        <span class="process-icon">
                            <i class="lni-user"></i>
                        </span>
                        <h4>Create an Account</h4>
                        <p>First Create An Account with your desired role then create Your Profile and Submit the detail.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="work-process step-2">
                        <span class="process-icon">
                            <i class="lni-search"></i>
                        </span>
                        <h4>Search Jobs</h4>
                        <p>If You are Candidate then you can browse differnet jobs and if you are Emplyer then you can post a job.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="work-process step-3">
                        <span class="process-icon">
                            <i class="lni-cup"></i>
                        </span>
                        <h4>Apply</h4>
                        <p>Apply for differnet jobs and this applications will be send to company and company can approve your applications.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- How It Work Section End -->
    <!-- Latest Section Start -->
    <!-- <section id="latest-jobs" class="section bg-gray">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title">Latest Jobs</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ellentesque dignissim quam et <br> metus effici turac fringilla lorem facilisis.</p>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12 col-xs-12">
                    <div class="jobs-latest">
                        <div class="img-thumb">
                            <img src="@Url.Content("~/Content/img/features/img-1.jpg")" alt="">
                        </div>
                        <div class="content">
                            <h3><a href="job-details.html">UX Designer</a></h3>
                            <p class="brand">MagNews</p>
                            <div class="tags">
                                <span><i class="lni-map-marker"></i> New York</span>
                                <span><i class="lni-user"></i>  John Smith</span>
                            </div>
                            <div class="tag mb-3"><i class="lni-tag"></i> #Html #Css #PHP</div>
                            <span class="full-time">Full Time</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-xs-12">
                    <div class="jobs-latest">
                        <div class="img-thumb">
                            <img src="@Url.Content("~/Content/img/features/img-2.jpg")" alt="">
                        </div>
                        <div class="content">
                            <h3><a href="job-details.html">UI Designer</a></h3>
                            <p class="brand">Hunter Inc.</p>
                            <div class="tags">
                                <span><i class="lni-map-marker"></i> New York</span>
                                <span><i class="lni-user"></i>  John Smith</span>
                            </div>
                            <div class="tag mb-3"><i class="lni-tag"></i> #Html #Css #PHP</div>
                            <span class="part-time">Part Time</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-xs-12">
                    <div class="jobs-latest">
                        <div class="img-thumb">
                            <img src="@Url.Content("~/Content/img/features/img-3.jpg")" alt="">
                        </div>
                        <div class="content">
                            <h3><a href="job-details.html">Web Developer</a></h3>
                            <p class="brand">MagNews</p>
                            <div class="tags">
                                <span><i class="lni-map-marker"></i> New York</span>
                                <span><i class="lni-user"></i>  John Smith</span>
                            </div>
                            <div class="tag mb-3"><i class="lni-tag"></i> #Html #Css #PHP</div>
                            <span class="full-time">Full Time</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-xs-12">
                    <div class="jobs-latest">
                        <div class="img-thumb">
                            <img src="@Url.Content("~/Content/img/features/img-4.jpg")" alt="">
                        </div>
                        <div class="content">
                            <h3><a href="job-details.html">UX Designer</a></h3>
                            <p class="brand">AmazeSoft</p>
                            <div class="tags">
                                <span><i class="lni-map-marker"></i> New York</span>
                                <span><i class="lni-user"></i>  John Smith</span>
                            </div>
                            <div class="tag mb-3"><i class="lni-tag"></i> #Html #Css #PHP</div>
                            <span class="full-time">Full Time</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-xs-12">
                    <div class="jobs-latest">
                        <div class="img-thumb">
                            <img src="@Url.Content("~/Content/img/features/img-2.jpg")" alt="">
                        </div>
                        <div class="content">
                            <h3><a href="job-details.html">Digital Marketer</a></h3>
                            <p class="brand">Bingo</p>
                            <div class="tags">
                                <span><i class="lni-map-marker"></i> New York</span>
                                <span><i class="lni-user"></i>  John Smith</span>
                            </div>
                            <div class="tag mb-3"><i class="lni-tag"></i> #Html #Css #PHP</div>
                            <span class="part-time">Part Time</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-xs-12">
                    <div class="jobs-latest">
                        <div class="img-thumb">
                            <img src="@Url.Content("~/Content/img/features/img-1.jpg")" alt="">
                        </div>
                        <div class="content">
                            <h3><a href="job-details.html">Web Developer</a></h3>
                            <p class="brand">MagNews</p>
                            <div class="tags">
                                <span><i class="lni-map-marker"></i> New York</span>
                                <span><i class="lni-user"></i>  John Smith</span>
                            </div>
                            <div class="tag mb-3"><i class="lni-tag"></i> #Html #Css #PHP</div>
                            <span class="full-time">Full Time</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center mt-4">
                    <a href="job-page.html" class="btn btn-common">Browse All Jobs</a>
                </div>
            </div>
        </div>
    </section> -->
    <!-- Latest Section End -->
    <!-- Testimonial Section Start -->
    <!-- <section id="testimonial" class="section">
      <div class="container">
        <div class="section-header">
          <h2 class="section-title">Clients Review</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ellentesque dignissim quam et <br> metus effici turac fringilla lorem facilisis.</p>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
            <div id="testimonials" class="touch-slider owl-carousel">
              <div class="item">
                <div class="testimonial-item">
                  <div class="author">
                    <div class="img-thumb">
                      <img src="assets/img/testimonial/img1.png" alt="">
                    </div>
                  </div>
                  <div class="content-inner">
                    <p class="description">Morbi quam enim, cursus non erat pretium veh icula finibus ex stibulum venenatis viverra dui Morbi quam enim, cursus non erat pretium veh icula finibus ex stibulum venenatis viverra dui Morbi quam enim, cursus non erat pretium veh icula finibus ex stibulum venenatis viverra dui.</p>
                    <div class="author-info">
                      <h2><a href="#">Jessica</a></h2>
                      <span>Senior Accountant</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-item">
                  <div class="author">
                    <div class="img-thumb">
                    <img src="assets/img/testimonial/img2.png" alt="">
                    </div>
                  </div>
                  <div class="content-inner">
                    <p class="description">Morbi quam enim, cursus non erat pretium veh icula finibus ex stibulum venenatis viverra dui Morbi quam enim, cursus non erat pretium veh icula finibus ex stibulum venenatis viverra dui Morbi quam enim, cursus non erat pretium veh icula finibus ex stibulum venenatis viverra dui.</p>
                    <div class="author-info">
                      <h2><a href="#">John Doe</a></h2>
                      <span>Project Menager</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-item">
                  <div class="author">
                    <div class="img-thumb">
                    <img src="assets/img/testimonial/img3.png" alt="">
                    </div>
                  </div>
                  <div class="content-inner">
                    <p class="description">Morbi quam enim, cursus non erat pretium veh icula finibus ex stibulum venenatis viverra dui Morbi quam enim, cursus non erat pretium veh icula finibus ex stibulum venenatis viverra dui Morbi quam enim, cursus non erat pretium veh icula finibus ex stibulum venenatis viverra dui.</p>
                    <div class="author-info">
                      <h2><a href="#">Helen</a></h2>
                      <span>Engineer</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <!-- Testimonial Section End -->
    <!-- Start Pricing Table Section -->
    <!-- <div id="pricing" class="section bg-gray">
          <div class="container text-center wow  wow fadeInUp">
            <h1 class="section-title">You Using Free Lite Version :(</h1>
    <h6>Purchase Full Version to Get All Pages, Features, Docs and Support!</h6></br>
    <a href="https://rebrand.ly/jobx-gg" target="_blank" rel="nofollow" class="btn btn-common btn-lg"><span class="lni-pointer-right"></span> Purchase Now!</a>
          </div>
        </div> -->
    <!-- End Pricing Table Section -->
    <!-- download Section Start -->
    <!-- <section id="download" class="section bg-gray">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-8 col-xs-12">
            <div class="download-wrapper">
              <div>
                <div class="download-text">
                  <h4>Download Our Best Apps</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ellentesque dignissim quam et metus effici turac fringilla lorem facilisis, Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="app-button">
                <a href="#" class="btn btn-border"><i class="lni-apple"></i>Download <br> <span>From App Store</span></a>
                <a href="#" class="btn btn-common btn-effect"><i class="lni-android"></i> Download <br> <span>From Play Store</span></a>
              </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-4 col-xs-12">
            <div class="download-thumb">
              <img class="img-fluid" src="assets/img/app.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <!-- download Section Start -->
    <!-- Preloader -->
    <div id="preloader">
        <div class="loader" id="loader-1"></div>
    </div>
    <!-- End Preloader -->
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    @section scripts {

        @Scripts.Render("~/bundles/jquery")
        @*@Scripts.Render("~/bundles/bootstrap")*@ 

        <script>
            $(document).ready(function () {
                $.ajax({
                    type: "GET",
                    url: "/api/summary",
                    success: function (response, status_code) {
                        $('#applications').text(response['applications']);
                        $('#jobs').text(response['jobs']);
                        $('#resumes').text(response['resumes']);
                        $('#companies').text(response['companies']);

                    }
                }).then(function (result) {
                    $('#applications').addClass('counter');
                    $('#jobs').addClass('counter');
                    $('#resumes').addClass('counter');
                    $('#companies').addClass('counter');

                    if ($(".fact-count").length > 0) {
                        // $(".counter").counterUp({
                        //     delay: 10,
                        //     time: 500
                        // });
                        $(".counter").each(function () {
                          $(this)
                            .prop("Counter", 0)
                            .animate(
                              {
                                Counter: $(this).text(),
                              },
                              {
                                duration: 2000,
                                easing: "swing",
                                step: function (now) {
                                    now = Number(Math.ceil(now)).toLocaleString('en');
                                    $(this).text(now);
                                },
                              }
                            );
                        });
                    }

                })


            })
        </script>
    }
</body>
</html>