@model DevHub.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-header">
                        <h3>Change Password</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content section Start -->
    <section id="content" class="section-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6 col-xs-12">
                    <div class="page-login-form box">
                        <h3>
                            Change Password
                        </h3>
                        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <div class="input-icon">
                                    <i class="lni-lock"></i>
                                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = "Current password" })
                                    @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-icon">
                                    <i class="lni-lock"></i>
                                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "New password" })
                                    @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-icon">
                                    <i class="lni-unlock"></i>
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm new password" })
                                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <button class="btn btn-common log-btn p-2 mb-0">Change Password</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Preloader -->
    <div id="preloader">
        <div class="loader" id="loader-1"></div>
    </div>
    <!-- End Preloader -->

    <style>
        .form-control {
            padding-left: 62px;
        }
    </style>
</body>
</html>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")