
@{
    ViewBag.Title = "ManageJobs";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Bootstrap, Landing page, Template, Registration, Landing">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="UIdeck">
    <title>JobX - Bootstrap HTML5 Job Portal Template</title>
</head>

<body>
    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-header">
                        <h3>Manage Jobs</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->
    <!-- Start Content -->
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="right-sideabr">
                        <h4>Manage Account</h4>
                        <ul class="list-item">
                            <li><a href="resume.html">My Resume</a></li>
                            <li><a href="bookmarked.html">Bookmarked Jobs</a></li>
                            <li><a href="notifications.html">Notifications <span class="notinumber">2</span></a></li>
                            <li><a class="active" href="job-alerts.html">Manage Jobs</a></li>
                            <li><a href="manage-applications.html">Manage Applications</a></li>
                            <li><a href="change-password.html">Change Password</a></li>
                            <li><a href="index.html">Sing Out</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-xs-12">
                    <div class="job-alerts-item">
                        <h3 class="alerts-title">Manage Jobs</h3>
                        <div class="col-lg-12 col-md-12 col-xs-12 jobs">
                        </div>
                        <br>
                        
                        <!-- Start Pagination -->
                        <div class="d-flex justify-content-start flex-wrap mt-md-0 mt-3" id="pagination">
                            <!-- left arrow -->
                            <div class="arrow-button">
                                <a style="background:none; cursor:pointer;" class="m-0 p-0" id="prev">
                                    <img src="@Url.Content("~/Content/img/left-arrow.png")" alt="YourAltText" height="25" class="mt-2" />
                                </a>
                            </div>
                            <!-- Pagination tab's containing page numbers -->
                            <div class="paginate-button">
                               <ul class="pagination" id="pages">
                                     
                               </ul>
                           </div>
                           <div class="arrow-button">
                               <a style="background: none; cursor: pointer;" class="m-0 p-0" id="next">
                                   <img src="@Url.Content("~/Content/img/right-arrow.png")" alt="YourAltText" height="25" class="mt-2" />
                               </a>
                           </div>
                        </div>
                        <!-- End Pagination -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Content -->

    <!-- Preloader -->
    <div id="preloader">
        <div class="loader" id="loader-1"></div>
    </div>
    <!-- End Preloader -->
    @section scripts{

        <script>
            function formatDate(date) {
                const currentDate = new Date();
                const diffTime = Math.abs(currentDate - date);
                const diffSeconds = diffTime / 1000;
                const diffMinutes = Math.floor(diffSeconds / 60);
                const diffHours = Math.floor(diffMinutes / 60);
                const diffDays = Math.floor(diffHours / 24);
                const diffMonths = Math.floor(diffDays / 30);
                const diffYears = Math.floor(diffMonths / 12);

                if (diffSeconds < 60) {
                    return Math.floor(diffSeconds) + " seconds ago";
                } else if (diffMinutes < 60) {
                    return diffMinutes + " minutes ago";
                } else if (diffHours < 24) {
                    return diffHours + " hours ago";
                } else if (diffDays < 30) {
                    return diffDays + " days ago";
                } else if (diffMonths < 12) {
                    return diffMonths + " months ago";
                } else {
                    return diffYears + " years ago";
                }
            }

            $(document).ready(function () {
                let TotalRecords = 0;
                let PageSize = 5;
                let pages = 0;
                let pageTabs = 0;
                let counter = 1;

                $.ajax({
                    type: "GET",
                    url: "/api/Company/GetCompanyJobs?start=" + 0 + "&end=" + PageSize,
                    success: function (response) {
                        response['data'].forEach(data => {
                            $('.jobs').append(`
                                          <span class="job-listings-featured">
                                             <div class="row">
                                                <div class="col-lg-6 col-md-6 col-xs-12">
                                                    <div class="job-details" style="margin-left:0!important;">
                                                        <h3><a href="/company/JobDetails/${data.id}">${data.title}</a></h3>
                                                        <span class="company-neme">${data.name}</span>
                                                        <div class="tags">
                                                            <span><i class="lni-map-marker"></i>${data.address}</span>
                                                            <span><i class="lni-alarm-clock"></i>${formatDate(new Date(data.created_at))}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-xs-12">
                                                    <div class="tag-type">
                                                        <span class="${data.jobType == "full-time" ? 'full-time' : 'part-time'}">${data.jobType}</span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12" style="margin-top:23px;">
                                                   <a href="/Company/EditJob?Jobid=${btoa(data.id.toString())}" style="background: none; cursor: pointer;" class="edit" data-value="${data.id}">
                                                       <img src="@Url.Content("~/Content/img/edit.png")" alt="YourAltText" height="25" class="mt-2" />
                                                   </a>
                                                    <a style="background: none; cursor: pointer;" class="delete" data-value="${data.id}">
                                                       <img src="@Url.Content("~/Content/img/delete.png")" alt="YourAltText" height="25" class="mt-2" />
                                                   </a>
                                                 </div>
                                            </div>
                                        </span>
                                     `);

                        })
                        TotalRecords = response['totalRecords'];
                        pages = Math.ceil(TotalRecords / PageSize);
                        pageTabs = Math.ceil(pages / 5);
                        if (pages == 0) {
                            $('#pagination').removeClass('d-flex');
                            $('#pagination').addClass('d-none');
                        }
                        else if (pages <= 5) {
                            $('#prev img').css('filter', 'saturate(0)');
                            $('#next img').css('filter', 'saturate(0)');

                            for (let i = 1; i <= 5; i++) {
                                $('#pages').append(`<li class="page-item"><a class="page-link color">${i}</a></li>`);
                                if (i == pages) {
                                    break;
                                }
                            }
                            $('#prev img').css('filter', 'saturate(0)');
                        }
                        else {
                            for (let i = 1; i <= 5; i++) {
                                $('#pages').append(`<li class="page-item"><a class="page-link color">${i}</a></li>`);

                            }
                            $('#prev img').css('filter', 'saturate(0)');
                        }

                        $('a.color').filter(':contains("1")').css('color', 'black');
                    }
                });

                $(document).on('click', '.color', function (e) {
                    $(this).css('color', 'black');
                    $('.color').not(this).css('color', 'white');
                    let value = $(this).text();
                    let end = value * PageSize;
                    let start = end - PageSize;
                    $('.jobs').html('');
                    $.ajax({
                        type: "GET",
                        url: "/api/Company/GetCompanyJobs?start=" + start + "&end=" + end,
                        success: function (response) {
                            response['data'].forEach(data => {
                                $('.jobs').append(`
                                        <span class="job-listings-featured">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-xs-12">
                                                    <div class="job-details" style="margin-left:0!important;">
                                                        <h3>${data.title}</h3>
                                                        <span class="company-neme">${data.name}</span>
                                                        <div class="tags">
                                                            <span><i class="lni-map-marker"></i>${data.address}</span>
                                                            <span><i class="lni-alarm-clock"></i>${formatDate(new Date(data.created_at))}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-xs-12">
                                                    <div class="tag-type">
                                                        <span class="${data.jobType == "full-time" ? 'full-time' : 'part-time'}">${data.jobType}</span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-xs-12" style="margin-top:23px;">
                                                   <a href="/Company/EditJob?Jobid=${btoa(data.id.toString())}" style="background: none; cursor: pointer;" class="edit" data-value="${data.id}">
                                                       <img src="@Url.Content("~/Content/img/edit.png")" alt="YourAltText" height="25" class="mt-2" />
                                                   </a>
                                                    <a style="background: none; cursor: pointer;" class="delete" data-value="${data.id}">
                                                       <img src="@Url.Content("~/Content/img/delete.png")" alt="YourAltText" height="25" class="mt-2" />
                                                   </a>
                                                 </div>
                                            </div>
                                        </span>
                                    `);
                            })
                        }
                    });
                });


                $('#next').click(function () {
                    if (counter != pageTabs) {
                        counter++;
                        let end = counter * 5;
                        $('#pages').html('');
                        for (let i = end - 4; i <= end; i++) {
                            $('#pages').append(`<li class="page-item"><a class="page-link color" >${i}</a></li>`);
                            if (i == pages) {
                                $('#next img').css('filter', 'saturate(0)');
                                break;
                            }
                        }
                        $('#prev img').css('filter', '');
                    }
                });

                $('#prev').click(function () {
                    if (counter == 1 && pageTabs == counter) {
                        $('#prev img').css('filter', 'saturate(0)');
                        $('#next img').css('filter', 'saturate(0)');
                    }
                    else if (counter == 1) {
                        $('#prev img').css('filter', 'saturate(0)');
                        $('#next img').css('filter', '');
                    }
                    else {
                        counter--;
                        let end = counter * 5;
                        $('#pages').html('');
                        for (let i = end - 4; i <= end; i++) {
                            $('#pages').append(`<li class="page-item"><a class="page-link color">${i}</a></li>`);
                        }
                        if (counter == 1) {
                            $('#prev img').css('filter', 'saturate(0)');
                            $('#next img').css('filter', '');
                        }
                    }
                });

                $(document).on('click', '.delete', function (e) {
                    let id = $(this).data('value');
                    $.ajax({
                        type: "DELETE",
                        url: "/api/Job/"+ id,
                        success: function (response) {
                            console.log(response);
                            $(location).attr('href', '/Company/ManageJobs');
                        }
                    });
                });

            });
        </script>
    }
    </body>
</html>