
@{
    ViewBag.Title = "ManageApplications";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Bootstrap, Landing page, Template, Registration, Landing">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="UIdeck">
    <title>JobX </title>

</head>

<body>

    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-header">
                        <h3>Manage Applications</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->
    <!-- Start Content -->
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-xs-12">
                    <div class="right-sideabr">
                        <h4>Manage Account</h4>
                        <ul class="list-item">
                            <li><a href="resume.html">My Resume</a></li>
                            <li><a href="bookmarked.html">Bookmarked Jobs</a></li>
                            <li><a href="notifications.html">Notifications <span class="notinumber">2</span></a></li>
                            <li><a class="active" href="manage-applications.html">Manage Applications</a></li>
                            <li><a href="job-alerts.html">Job Alerts</a></li>
                            <li><a href="change-password.html">Change Password</a></li>
                            <li><a href="index.html">Sing Out</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 col-xs-12">
                    <div class="job-alerts-item">
                        <h3 class="alerts-title">Manage applications</h3>
                        <div class="col-lg-12 col-md-12 col-xs-12 mb-4">
                            <div class="wrap-search-filter row">
                                <div class="col-lg-3 col-md-3 col-xs-12 pr-0">
                                    <input type="text" id="title" class="form-control" placeholder="Keyword: Title">
                                </div>
                                <div class="col-lg-3 col-md-3 col-xs-12 pr-0">
                                    <select class="form-control" id="stage">
                                        <option value="All">All</option>
                                        <option value="Applied" selected>Pending</option>
                                        <option value="Approved">Approved</option>
                                        <option value="Rejected">Rejected</option>
                                    </select>
                                </div>
                                <div class="col-lg-3 col-md-3 col-xs-12 pr-0">
                                    <select class="form-control" id="job-type">
                                        <option value="">Select Type</option>
                                    </select>
                                </div>
                                <div class="col-lg-3 col-md-3 col-xs-12">
                                    <button class="btn btn-common float-right filter" style="padding:9px 25px;">Filter</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-xs-12 applications">
                        </div>
                        <br>
                        <!-- Start Pagination -->
                        <div class="d-none justify-content-start flex-wrap mt-md-0 mt-3" id="pagination">
                            <!-- left arrow -->
                            <div class="arrow-button">
                                <a style="background:none; cursor:pointer;" class="m-0 p-0" id="prev">
                                    <img src="@Url.Content("~/Content/img/left-arrow.png")" alt="YourAltText" height="25" class="mt-2" />
                                </a>
                            </div>
                            <!-- Pagination tab's containing page numbers -->
                            <div class="paginate-button">
                                <ul class="pagination" id="pages">
                                </ul>
                            </div>
                            <div class="arrow-button">
                                <a style="background: none; cursor: pointer;" class="m-0 p-0" id="next">
                                    <img src="@Url.Content("~/Content/img/right-arrow.png")" alt="YourAltText" height="25" class="mt-2" />
                                </a>
                            </div>
                        </div>
                        <!-- End Pagination -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Content -->
    <!-- Preloader -->
    <div id="preloader">
        <div class="loader" id="loader-1"></div>
    </div>
    <!-- End Preloader -->
    @section scripts{
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


        <script>
            function formatDate(date) {
                const currentDate = new Date();
                const diffTime = Math.abs(currentDate - date);
                const diffSeconds = diffTime / 1000;
                const diffMinutes = Math.floor(diffSeconds / 60);
                const diffHours = Math.floor(diffMinutes / 60);
                const diffDays = Math.floor(diffHours / 24);
                const diffMonths = Math.floor(diffDays / 30);
                const diffYears = Math.floor(diffMonths / 12);

                if (diffSeconds < 60) {
                    return Math.floor(diffSeconds) + " seconds ago";
                } else if (diffMinutes < 60) {
                    return diffMinutes + " minutes ago";
                } else if (diffHours < 24) {
                    return diffHours + " hours ago";
                } else if (diffDays < 30) {
                    return diffDays + " days ago";
                } else if (diffMonths < 12) {
                    return diffMonths + " months ago";
                } else {
                    return diffYears + " years ago";
                }
            }

            $(document).ready(function () {
                let TotalRecords = 0;
                let PageSize = 5;
                let pages = 0;
                let pageTabs = 0;
                let counter = 1;
                let job_id = 0;
                let candidate_id = 0;
                let filter = { 'stage': 'Applied' };
                let base64_string = "";
                let url = "";

                function getCompanyApplications() {

                    $.ajax({
                        type: "POST",
                        url: "/api/Company/GetCompanyApplications?start=" + 0 + "&end=" + PageSize,
                        data: JSON.stringify(filter),
                        processData: false,
                        contentType: 'application/json',
                        success: function (response) {
                            response['data'].forEach(data => {
                                base64_string = "";
                                data.profile != "" ? base64_string = data.profile : '';
                                if (base64_string != "") {
                                    extension = base64_string.split(';')[0].split('/')[1]
                                    // Convert base64 to byte array
                                    let byteNumbers = new Uint8Array([...atob(base64_string)].map(char => char.charCodeAt(0)));

                                    // Create a Blob from the byte array
                                    let blob = new Blob([byteNumbers], { type: 'image/' + extension });
                                    let blobUrl = URL.createObjectURL(blob);
                                    url = blobUrl;
                                }
                                else {
                                    url = "../../Content/img/profile.png";
                                }
                                $('.applications').append(`
                                              <span class="job-listings-featured">
                                                 <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                                        <div class="job-company-logo mr-2">
                                                           <img src="${url}" height="60" alt="">
                                                        </div>
                                                        <div class="job-details">
                                                            <h3><a href="/company/JobDetails/${btoa(data.id)}">${data.title}</a></h3>
                                                            <span class="company-neme">${data.company_name}</span>
                                                            <div class="tags">
                                                                <span><i class="lni-user"></i><a style="text-transform:capitalize;" href="/candidate/Resume/${btoa(data.candidate_id.toString())}">${data.candidate_name}</a></span>
                                                                <span><i class="lni-alarm-clock"></i>${formatDate(new Date(data.created_at))}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-xs-12">
                                                        <div class="tag-type">
                                                            <span class="${data.jobType == "full-time" ? 'full-time' : 'part-time'} ml-0">${data.jobType}</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-xs-12" style="margin-top:23px;">
                                                     ${data.stage == 'Applied' ?
                                                       `<a style="background: none; cursor: pointer;" class="approve" data-candidate="${data.candidate_id}" data-job="${data.id}">
                                                           <img src="@Url.Content("~/Content/img/approve.svg")" alt="YourAltText" height="25" class="mt-2" />
                                                       </a>
                                                        <a style="background: none; cursor: pointer;" class="reject" data-candidate="${data.candidate_id}" data-job="${data.id}">
                                                           <img src="@Url.Content("~/Content/img/reject.svg")" alt="YourAltText" height="25" class="mt-2" />
                                                       </a>`
                                                     : data.stage == 'Approved' ?
                                                      '<a style="pointer-events:none;" class="btn btn-success stage">Approved</a>'
                                                     : '<a style="pointer-events:none;" class="btn btn-danger stage">Rejected</a>'}
                                                     </div>
                                                </div>
                                            </span>
                                         `);

                            });
                            $('.applications').css('min-height', '0px');

                            TotalRecords = response['totalRecords'];
                            pages = Math.ceil(TotalRecords / PageSize);
                            pageTabs = Math.ceil(pages / 5);
                            $('#prev img').css('filter', '');
                            $('#next img').css('filter', '');

                            if (pages == 0) {
                                $('#pagination').removeClass('d-flex');
                                $('#pagination').addClass('d-none');
                            }
                            else if (pages <= 5) {
                                $('#pagination').removeClass('d-none');
                                $('#pagination').addClass('d-flex');
                                $('#prev img').css('filter', 'saturate(0)');
                                $('#next img').css('filter', 'saturate(0)');

                                for (let i = 1; i <= 5; i++) {
                                    $('#pages').append(`<li class="page-item"><a class="page-link color">${i}</a></li>`);
                                    if (i == pages) {
                                        break;
                                    }
                                }
                                $('#prev img').css('filter', 'saturate(0)');
                            }
                            else {
                                $('#pagination').removeClass('d-none');
                                $('#pagination').addClass('d-flex');
                                for (let i = 1; i <= 5; i++) {
                                    $('#pages').append(`<li class="page-item"><a class="page-link color">${i}</a></li>`);

                                }
                                $('#prev img').css('filter', 'saturate(0)');
                            }

                            $('a.color').filter(':contains("1")').css('color', 'black');
                        }
                    });

                }

                getCompanyApplications();

                $('.filter').click(function (event) {
                    event.preventDefault();
                    $('.applications').css('min-height', '646px');
                    filter['stage'] = $('#stage').val();
                    filter['title'] = $('#title').val();
                    filter['jobtype'] = $('#job-type').val();
                    $('.applications').html('');
                    $('#pages').html('');
                    getCompanyApplications();

                });
                    
                $(document).on('click', '.approve', function (e) {
                    job_id = $(this).data('job');
                    candidate_id = $(this).data('candidate');
                    Swal.fire({
                        allowOutsideClick: false,
                        customClass: {
                            popup: 'custom-swal-container',
                            loader: 'custom-swal-loader'
                        },
                        didOpen: () => {
                            Swal.showLoading();
                        },
                    });
                    $.ajax({
                        type: "POST",
                        url: "/api/Job/JobStatus?candidate_id=" + candidate_id + "&job_id=" + job_id + "&stage=Approved",
                        success: function (response) {
                            $('.applications').css('min-height', '646px');
                            filter['stage'] = $('#stage').val();
                            filter['title'] = $('#title').val();
                            filter['jobtype'] = $('#job-type').val();
                            $('.applications').html('');
                            $('#pages').html('');
                            getCompanyApplications();
                            Swal.close();
                        },
                        error:function(error){
                            Swal.close();
                        }
                    });
                })

                $(document).on('click', '.reject', function (e) {
                    job_id = $(this).data('job');
                    candidate_id = $(this).data('candidate');

                    $.ajax({
                        type: "POST",
                        url: "/api/Job/JobStatus?candidate_id=" + candidate_id + "&job_id=" + job_id + "&stage=Rejected",
                        success: function (response) {
                            $('.applications').css('min-height', '646px');
                            filter['stage'] = $('#stage').val();
                            filter['title'] = $('#title').val();
                            filter['jobtype'] = $('#job-type').val();
                            $('.applications').html('');
                            $('#pages').html('');
                            getCompanyApplications();
                        }
                    });
                })

                $(document).on('click', '.color', function (e) {
                    $(this).css('color', 'black');
                    $('.color').not(this).css('color', 'white');
                    let value = $(this).text();
                    let end = value * PageSize;
                    let start = end - PageSize;
                    $('.applications').css('min-height', '646px');
                    $('.applications').html('');
                    $.ajax({
                        type: "POST",
                        url: "/api/Company/GetCompanyApplications?start=" + start + "&end=" + end,
                        data: JSON.stringify(filter),
                        processData: false,
                        contentType: 'application/json',
                        success: function (response) {
                            response['data'].forEach(data => {
                                base64_string = "";
                                data.profile != "" ? base64_string = data.profile : '';
                                if (base64_string != "") {
                                    extension = base64_string.split(';')[0].split('/')[1]
                                    // Convert base64 to byte array
                                    let byteNumbers = new Uint8Array([...atob(base64_string)].map(char => char.charCodeAt(0)));

                                    // Create a Blob from the byte array
                                    let blob = new Blob([byteNumbers], { type: 'image/' + extension });
                                    let blobUrl = URL.createObjectURL(blob);
                                    url = blobUrl;
                                }
                                else {
                                    url = "../../Content/img/profile.png";
                                }
                                $('.applications').append(`
                                        <span class="job-listings-featured">
                                             <div class="row">
                                                <div class="col-lg-6 col-md-6 col-xs-12">
                                                        <div class="job-company-logo mr-2">
                                                           <img src="${url}" height="60" alt="">
                                                        </div>
                                                    <div class="job-details">
                                                        <h3><a href="/company/JobDetails/${btoa(data.id)}">${data.title}</a></h3>
                                                        <span class="company-neme">${data.company_name}</span>
                                                        <div class="tags">
                                                            <span><i class="lni-user"></i>${data.candidate_name}</span>
                                                            <span><i class="lni-alarm-clock"></i>${formatDate(new Date(data.created_at))}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-xs-12">
                                                    <div class="tag-type">
                                                        <span class="${data.jobType == "full-time" ? 'full-time' : 'part-time'} ml-0">${data.jobType}</span>
                                                    </div>
                                                </div>
                                                 <div class="col-lg-2 col-md-2 col-xs-12" style="margin-top:23px;">
                                                   ${data.stage == 'Applied' ?
                                                       `<a style="background: none; cursor: pointer;" class="approve" data-candidate="${data.candidate_id}" data-job="${data.id}">
                                                           <img src="@Url.Content("~/Content/img/approve.svg")" alt="YourAltText" height="25" class="mt-2" />
                                                       </a>
                                                        <a style="background: none; cursor: pointer;" class="reject" data-candidate="${data.candidate_id}" data-job="${data.id}">
                                                           <img src="@Url.Content("~/Content/img/reject.svg")" alt="YourAltText" height="25" class="mt-2" />
                                                       </a>`
                                                     : data.stage == 'Approved' ?
                                                      '<a style="pointer-events:none;" class="btn btn-success stage">Approved</a>'
                                                     : '<a style="pointer-events:none;" class="btn btn-danger stage">Rejected</a>'}
                                                 </div>
                                            </div>
                                        </span>
                                    `);
                            })
                            $('.applications').css('min-height', '0px');
                        }
                    });
                });

                $.ajax({
                    type: "GET",
                    url: "/api/Job/GetJobTypes",
                    success: function (response) {
                        response.forEach(item => {
                            $('#job-type').append("<option value=" + item.id + ">" + item.name + "</option >");
                        });
                    }
                });

                $('#next').click(function () {
                    if (counter != pageTabs) {
                        counter++;
                        let end = counter * 5;
                        $('#pages').html('');
                        for (let i = end - 4; i <= end; i++) {
                            $('#pages').append(`<li class="page-item"><a class="page-link color" >${i}</a></li>`);
                            if (i == pages) {
                                $('#next img').css('filter', 'saturate(0)');
                                break;
                            }
                        }
                        $('#prev img').css('filter', '');
                    }
                });

                $('#prev').click(function () {
                    if (counter == 1 && pageTabs == counter) {
                        $('#prev img').css('filter', 'saturate(0)');
                        $('#next img').css('filter', 'saturate(0)');
                    }
                    else if (counter == 1) {
                        $('#prev img').css('filter', 'saturate(0)');
                        $('#next img').css('filter', '');
                    }
                    else {
                        counter--;
                        let end = counter * 5;
                        $('#pages').html('');
                        for (let i = end - 4; i <= end; i++) {
                            $('#pages').append(`<li class="page-item"><a class="page-link color">${i}</a></li>`);
                        }
                        if (counter == 1) {
                            $('#prev img').css('filter', 'saturate(0)');
                            $('#next img').css('filter', '');
                        }
                    }
                });
            });
        </script>
    }
    <style>
        .stage {
            padding: 6px;
            font-size: 12px;
            margin-top:5px;
            text-transform: capitalize;
        }
        .custom-swal-container {
            height: 200px;
        }
        .custom-swal-loader {
            height: 60px;
            width: 60px;
        }
    </style>
</body>
</html>
