@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar">
        <div class="container">
            <div class="theme-header clearfix">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        <span class="lni-menu"></span>
                        <span class="lni-menu"></span>
                        <span class="lni-menu"></span>
                    </button>
                    <a href="@Url.Action("Index", "Home")">
                        <img src="@Url.Content("~/Content/img/logo.png")" alt="YourAltText" class="mt-2" />
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="main-navbar">
                    <ul class="navbar-nav mr-auto w-100 justify-content-end">
                        <li class="nav-item active">
                            @Html.ActionLink("Home", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "nav-link" })
                        </li>
                        @*<li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Pages
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="about.html">About</a></li>
                                    <li><a class="dropdown-item" href="job-page.html">Job Page</a></li>
                                    <li><a class="dropdown-item" href="job-details.html">Job Details</a></li>
                                    <li><a class="dropdown-item" href="resume.html">Resume Page</a></li>
                                    <li><a class="dropdown-item" href="privacy-policy.html">Privacy Policy</a></li>
                                    <li><a class="dropdown-item" href="contact.html">Contact</a></li>
                                </ul>
                            </li>*@

                        @if (Request.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Candidate")))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Candidates
                                </a>
                                <ul class="dropdown-menu">
                                    @Html.ActionLink("Browse Jobs", "Jobs", "Candidate", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })
                                    @Html.ActionLink("Applied Jobs", "AppliedJobs", "Candidate", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })
                                    @Html.ActionLink("Resume", "Resume", "Candidate", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })
                                </ul>
                            </li>
                        }
                        @if (Request.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Company")))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Employers
                                </a>
                                <ul class="dropdown-menu">
                                    @Html.ActionLink("Company", "CompanyProfile", "Company", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })
                                    @Html.ActionLink("Manage Jobs", "ManageJobs", "Company", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })
                                    @Html.ActionLink("Manage Applications", "ManageApplications", "Company", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })

                                </ul>
                            </li>
                        }
                        @if (!Request.IsAuthenticated)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Candidates
                                </a>
                                <ul class="dropdown-menu">
                                    @Html.ActionLink("Browse Jobs", "Jobs", "Candidate", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })
                                    @Html.ActionLink("Applied Jobs", "AppliedJobs", "Candidate", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })
                                    @Html.ActionLink("Resume", "Resume", "Candidate", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Employers
                                </a>
                                <ul class="dropdown-menu">
                                    @Html.ActionLink("Company", "CompanyProfile", "Company", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })
                                    @Html.ActionLink("Manage Jobs", "ManageJobs", "Company", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })
                                    @Html.ActionLink("Manage Applications", "ManageApplications", "Company", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })
                                </ul>
                            </li>

                        }

                        <li class="nav-item">
                            @Html.ActionLink("Contact Us", "Contact", "Home", routeValues: null, htmlAttributes: new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("About Us", "About", "Home", routeValues: null, htmlAttributes: new { @class = "nav-link" })
                        </li>
                        @if (Request.IsAuthenticated)
                        {
                            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                            {
                                @Html.AntiForgeryToken()
                                <li><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                            }

                        }
                        else
                        {
                            <li class="nav-item">
                                @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "nav-link" })
                            </li>
                        }
                        @if (User.IsInRole("Admin") || User.IsInRole("Company"))
                        {
                            <li class="button-group">
                                @Html.ActionLink("Post a Job", "PostJob", "Company", routeValues: null, htmlAttributes: new { @class = "button btn btn-common" })
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        @if (Request.IsAuthenticated)
        {
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        }
        <div class="dropdown">
            <button class="btn dropdown-toggle border-0 btn-sm"
                    type="button"
                    id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    style="background-color:#f9fcff">

                <img src="@Url.Content("~/Content/img/profile.png")"
                     class="img-profile rounded-circle me-2"
                     height="40"
                     width="40" />
            </button>
            <div class="nav-item dropdown">
                <ul class="dropdown-menu" style="right:0;left:auto;" aria-labelledby="dropdownMenuButton">
                    <li>@Html.ActionLink("Profile", "UserProfile", "Home", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })</li>
                    @if (Request.IsAuthenticated)
                    {
                        <li><a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Log off</a><</li>
                        <li><button class="dropdown-item" id="deactivate" style="cursor:pointer;">Delete Account</button></li>

                    }
                    else
                    {
                        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })</li>
                    }
                </ul>
            </div>
        </div>
        <div class="mobile-menu" data-logo="@Url.Content("~/Content/img/logo-mobile.png")"></div>
    </nav>
    <!-- Navbar End -->

    <div class="container body-content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <a href="#" class="back-to-top">
            <i class="lni-arrow-up"></i>
        </a>
        <footer>
            <!-- Footer Area Start -->
            <section class="footer-Content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-xs-12">
                            <div class="widget">
                                <div class="footer-logo"><img src="@Url.Content("~/Content/img/logo-footer.png")" alt=""></div>
                                <div class="textwidget">
                                    <p>Sed consequat sapien faus quam bibendum convallis quis in nulla. Pellentesque volutpat odio eget diam cursus semper.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-4 col-xs-12">
                            <div class="widget">
                                <h3 class="block-title">Quick Links</h3>
                                <ul class="menu">
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Support</a></li>
                                    <li><a href="#">License</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                                <ul class="menu">
                                    <li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="#">Privacy</a></li>
                                    <li><a href="#">Refferal Terms</a></li>
                                    <li><a href="#">Product License</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-12">
                            <div class="widget">
                                <h3 class="block-title">Subscribe Now</h3>
                                <p>Sed consequat sapien faus quam bibendum convallis.</p>
                                <form method="post" id="subscribe-form" name="subscribe-form" class="validate">
                                    <div class="form-group is-empty">
                                        <input type="email" value="" name="subscribe" class="form-control" placeholder="Enter Email..." required="">
                                        <button type="submit" name="subscribe" id="subscribes" class="btn btn-common sub-btn"><i class="lni-envelope"></i></button>
                                        <div class="clearfix"></div>
                                    </div>
                                </form>
                                <ul class="mt-3 footer-social">
                                    <li><a class="facebook" href="#"><i class="lni-facebook-filled"></i></a></li>
                                    <li><a class="twitter" href="#"><i class="lni-twitter-filled"></i></a></li>
                                    <li><a class="linkedin" href="#"><i class="lni-linkedin-fill"></i></a></li>
                                    <li><a class="google-plus" href="#"><i class="lni-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Footer area End -->


        </footer>
    </div>
    <style>
        .body-content {
            /*remove the container default padding attribute*/
            padding: 0px !important;
            margin: 0px !important;
            /*increase width as per your need*/
            max-width: 100%;
        }
    </style>

     @Scripts.Render("~/bundles/jquery")
     @Scripts.Render("~/bundles/bootstrap")
     @RenderSection("scripts", required: false)

    </body>
</html>
